# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="file:./db.sqlite"

# Node environment
NODE_ENV="development"

# Site URL
SITE_URL= # e.g. "example.com" or "localhost:3000"
VERCEL_URL= # e.g. "example.vercel.app" or "localhost:300

# Socials
GITHUB="github_link"
LINKEDIN="linkedin_link"
EMAIL="email_link"
GITHUB_USERNAME="github_username"

# Spotify
SPOTIFY_CLIENT_ID="your_spotify_client_id"
SPOTIFY_CLIENT_SECRET="your_spotify_client_secret"
SPOTIFY_REFRESH_TOKEN="your_spotify_refresh_token"

# Better Auth

BETTER_AUTH="your_better_auth_secret"

# Github OAuth

GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"

# Appwrite

APPWRITE_ENDPOINT="your appwrite endpoint"
APPWRITE_PROJECT_ID="your appwrite project id"
APPWRITE_BUCKET_ID="your appwrite bucket id"