# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="file:./db.sqlite"

# Node environment
NODE_ENV="development"

# Site URL
NEXT_PUBLIC_SITE_URL= # e.g. "example.com" or "localhost:3000"
NEXT_PUBLIC_SERVER_URL= # e.g. "http://localhost:3001" for your API server
VERCEL_URL= # e.g. "example.vercel.app" or "localhost:300

# Socials
NEXT_PUBLIC_GITHUB="github_link"
NEXT_PUBLIC_LINKEDIN="linkedin_link"
NEXT_PUBLIC_EMAIL="email_link"
NEXT_PUBLIC_GITHUB_USERNAME="github_username"

# Spotify
SPOTIFY_CLIENT_ID="your_spotify_client_id"
SPOTIFY_CLIENT_SECRET="your_spotify_client_secret"
SPOTIFY_REFRESH_TOKEN="your_spotify_refresh_token"

# Better Auth

BETTER_AUTH_SECRET="your_better_auth_secret"
BETTER_AUTH_URL="http://localhost:3000" # e.g. "https://example.com" or "http://localhost:3000"
# Appwrite

NEXT_PUBLIC_APPWRITE_ENDPOINT="your appwrite endpoint"
NEXT_PUBLIC_APPWRITE_PROJECT_ID="your appwrite project id"
NEXT_PUBLIC_APPWRITE_BUCKET_ID="your appwrite bucket id"

# Umami 

UMAMI_WEBSITE_URL="https://localhost.com" # e.g. "https://example.com" or "http://localhost:3000"
UMAMI_WEBSITE_ID="your_umami_website_id"
UMAMI_SHARE_URL="https://localhost.com" # UMAMI Share Url